<% if (site.categories.length){ %>
  <div class="sidebar-module category">
    <div class="tab">
      <i class="fa fa-folder" aria-hidden="true"></i>
      <h2 data-toggle="collapse" data-target="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory">
        Categories
      </h2>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </div>
    <div class="content collapse" id="collapseCategory">
        <%- list_categories({show_count: theme.show_count, class: 'sidebar-module'}) %>
    </div>
  </div>
<% } %>
